---
interface Props {
    nombre: string,
    texto: string,
    img: string,
    clase?: string,
}

const {nombre, texto, img, clase = ""} = Astro.props;
---

<style>

    img{
        object-fit: contain;
    }

    p{
        margin-top: 10px;
    }

    article{
        border: 2px solid var(--colorFuente);
        padding: 20px;
        background-color: var(--detalles);
        display: flex;
        gap: 10px;
        border-radius: 10px;;
    }

    .hs:nth-child(even){
        background: linear-gradient(60deg, var(--fondo3) 50%,
        var(--fondo) 50%) ;
    }

    .hs:nth-child(odd){
        background: linear-gradient(60deg, var(--fondo3) 50%,
        var(--fondo) 50%) ;
    }

    aside > h1{
        font-family: var(--titulos);
        font-size: 1.5rem;
        color: var(--colorFuente);

    }

    aside > hr{
        width: 60%;
        margin-block: 5px;
        border: 2px solid var(--colorFuente);
        border-radius: 10px;
    }

    aside > p{
        color: var(--colorFuente);
        font-size: 1rem;
        font-family: var(--texto2);
    }

    @media (max-width: 1024px) {
        article{
            display: block;
            padding: 20px;
        }

        img{
            display: block;
            margin: auto;
        }

        h1{
            text-align: center;
            margin-block: 10px;
        }

        hr{
            display: block;
            margin-inline: auto;
        }


    }

</style>

<article class={clase}>
    <img src={img} alt={nombre} loading="lazy">
    <aside>
        <h1>{nombre}</h1>
        <hr>
        <p>{texto}</p>
    </aside>
</article>